#Container {
	width:1280px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}
#Header {
	height:250px;
	background-color:#f7e8d9;
}
#Menu {
	height:50px;
	background-color:#ab8983;
}
#Homebutton {
	float:left;
	margin-left:239px;
	height:auto;
	width:129px;
}
#Latestpagebutton {
	float:left;
	margin-left:25px;
	height:auto;
	width:271px;
}
#Archivebutton {
	float:left;
	margin-left:25px;
	height:auto;
	width:190px;
}
#Linksbutton {
	float:left;
	margin-left:25px;
	height:auto;
	width:137px;
}
#Menustripe {
	height:10px;
	background-color:#81615a;
}
#Mainbody {
	height:1800px;
	background-color:#f7e8d9;
}
#Pagebar {
	height:50px;
	padding-top:60px;
	margin-left:350px;
	margin-right:350px;
}
#Beginning {
	height:50px;
	width:120px;
	float:left;
}
#Last {
	height:50px;
	width:120px;
	float:left;
}
#Counter {
	height:50px;
	width:100px;
	float:left;
}
#Next {
	height:50px;
	width:120px;
	float:left;
}
#Latest {
	height:50px;
	width:120px;
	float:left
}
#Comicboarder {
	margin-top:20px;
	margin-left:130px;
	margin-right:130px;
	height:1520px;
	background-color:#81615a;
}
#Comic {
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	height:1500px;
}
#Footerstripe {
	width:auto;
	height:10px;
	background-color:#81615a;
}
#Footer {
	width:auto;
	height:50px;
	background-color:#ab8983;